body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgray;
}

h2 {
    color: navy;
}

button {
    background-color: navy;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

#info {
    margin-top: 15px;
    font-weight: bold;
    color: green;
}